$font-style: "poppins", sans-serif;

// primary
$primary-10: #CDD5EC;
$primary-20: #ACB9DF;
$primary-30: #8296CF;
$primary-40: #5873C0;
$primary-50: #2F50B0;
$primary-60: #052DA0;
$primary-70: #042685;
$primary-80: #031E6B;
$primary-90: #031750;
$primary-100: #020F35;

// danger
$danger-border: #EEC0B9;
$danger-hover: #AB4537;
$danger-main: #CD412E;
$danger-pressed: #80281D;
$danger-surface: #FFEDEB;

// success
$success-border: #B8E7CC;
$success-hover: #4D996D;
$success-main: #29B866;
$success-pressed: #145C33;
$success-surface: #D4F1E0;

// warning
$warning-border: #EECEB0;
$warning-hover: #BF6919;
$warning-main: #CD7B2E;
$warning-pressed: #734011;
$warning-surface: #FFF7EB;

// neutral
$neutral-10: #ffffff;
$neutral-20: #EFF2F5;
$neutral-30: #E4E9EE;
$neutral-40: #D7DEE5;
$neutral-50: #AEBCCB;
$neutral-60: #919DA9;
$neutral-70: #747D87;
$neutral-80: #575E66;
$neutral-90: #3A3F44;
$neutral-100: #232629;

// button
$button-dissable: #F3F4F8;
$button-positive: #052DA0;
$button-border: #BDD8FF;
$button-hover: #195FCC;
$button-pressed: #043A8D;

// text
$text-main-10: #FFFFFF;
$text-main-20: #F5F5F5;
$text-main-30: #EDEDED;
$text-main-40: #E0E0E0;
$text-main-50: #C2C2C2;
$text-main-60: #9E9E9E;
$text-main-70: #757575;
$text-main-80: #616161;
$text-main-90: #404040;
$text-main-100: #0A0A0A;

// background
$bg-main: #F5F6FA;

// blue
$blue-1: #215DE2;
$blue-2: #707FDD;
$blue-3: #707FDDB0;

// gray
$gray-1: #121212;
$gray-2: #273240;
$gray-3: #F9FAFB;

// red
$red-1: #FCAEAE;
$red-2: #DE6944CC;

// green
$green-1: #AEFCD2;

// yellow
$yellow-1: #FCF4AE;